{% extends 'base/main.html' %}

{% block titulo %}Mi cuenta | {{ user.socio.nombre }}{% endblock %}

{% block contenido %}
<div class="row">
	<div class="col-md-12 col-lg-10 col-xl-10">
		<div class="card bg-transparent">
			<div class="my-2 mx-2">
				<h3 class="text-info">Cuenta de Ahorro</h3>
			</div>
			<div class="card-body">
				<div class="card-title">
					<p><strong>Nombre: </strong>{{ bank_account.socio.nombre }}</p>
					<p><strong>Apellidos: </strong>{{ bank_account.socio.apellido_paterno }} {{ bank_account.socio.apellido_materno }}</p>
				</div>
				<div class="card-text">
					<strong>Monto en cuenta(soles): </strong>{{ bank_account.monto_cuenta }}
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}