{% load static %}
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta name="description" content="Cooperativa de Ahorro y Credito Wiñarisun">
<script type="text/javascript" src="{% static 'js/jquery.js' %}" defer></script>
<script type="text/javascript" src="{% static 'js/popper.js' %}" defer></script>
<script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}" defer></script>
<script type="text/javascript" src="{% static 'ckeditor/ckeditor-init.js' %}" defer></script>
<script type="text/javascript" src="{% static 'ckeditor/ckeditor/ckeditor.js' %}" defer></script>
<link rel="shortcut icon" href="{% static 'img/cw2.ico' %}" class="shortcut">
<link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" type="text/css">
<link rel="stylesheet" href="{% static 'css/button_style.css' %}" type="text/css">
<link rel="stylesheet" href="{% static 'css/word.css' %}" type="text/css">
<link rel="stylesheet" href="{% static 'css/boderstyle.css' %}" type="text/css">
<link rel="stylesheet" href="{% static 'css/icons_social.css' %}" type="text/css">
<link rel="stylesheet" href="{% static 'css/estilos_contactos.css' %}" type="text/css">
<title>Wiñarisun | {% block titulo %}Cooperativa de Ahorro y Crédito{% endblock titulo %}</title>