{% load static %}
<div class="fixed-top fixed-top-sticky">
  {% block menu %}
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="{% url 'inicio' %}"><img class="navbar-brand" src="{% static 'img/cw1.jpg' %}"
                                                           width="150px" height="70px"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHomeMain"
            aria-controls="navbarHomeMain" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarHomeMain">
      <ul class="navbar-nav mr-auto">
        <li class="button nav-item">
          <a class="nav-link1 font-weight-bold" href="{% url 'inicio'%}">Inicio</a>
        </li>
        <li class="button nav-item dropdown">
          <a class="nav-link1 font-weight-bold dropdown-toggle" data-toggle="dropdown" id="navbardrop"
             href="#">Prestamos</a>
          <div class="dropdown-menu border-0 ">
            <a href="#" class="dropdown-item text-body">De acuerdo a su necesidad</a>
            <hr class="line_separate">
            <a href="#" class="dropdown-item text-body">Con una tasa de ínteres moderada</a>
            <hr class="line_separate">
            <a href="#" class="dropdown-item text-body">A plazo fijo</a>
            <hr class="line_separate">
          </div>
        </li>
        <li class="button nav-item">
          <a class="nav-link1 font-weight-bold" href="#">Atenciones</a>
        </li>
        <li class="button nav-item" data-toggle="modal" data-target="#modal-search">
          <a class="nav-link1 font-weight-bold" href="#">Acerca de</a>
        </li>
        <li class="button nav-item" data-toggle="modal" data-target="#modal-email">
          <a class="nav-link1 font-weight-bold" href="#">Enviar Mensaje</a>
        </li>
      </ul>
      <div class="my-2 my-lg-0 ">
        {% if user.is_authenticated %}
        <div class="btn-group">
          <button type="button" class="button type1 dropdown-toggle ml-2" data-toggle="dropdown" aria-haspopup="true"
                  aria-expanded="false">
            {% if user.is_staff %}
            <strong>{{ user.username }}</strong>
            {% else %}
            <strong>{{ user.socio.nombre }} {{ user.socio.apellido_paterno }}
              {{ user.socio.apellido_materno }}</strong>
            {% endif %}
          </button>
          <div class="dropdown-menu dropdown-menu-right mr-0">
            <a href="{% url 'usuario:perfilusuario' request.user.id %}" class="dropdown-item">Mi Cuenta</a>
            {% if user.is_staff %}
            <a href="{% url 'socio:listasocio' %}" class="dropdown-item">Añadir clientes</a>
            {% endif %}
            <a href="{% url 'usuario:logout' %}" class="dropdown-item btn-danger" type="submit"><u>Cerrar
              sesión</u></a>
          </div>
        </div>
        {% else %}
        <div class="ml-2 p-1">
          <a class="button type1 font-weight-bold" href="{% url 'usuario:login' %}">Iniciar Sesión</a>
        </div>
        {% endif %}
      </div>
    </div>
  </nav>
  {% endblock menu%}
</div>