<form action="{% url 'inicio' %}" method="post" class="form-group">
  <div class="form-group">
    <input type="email" class="form-control" name="mail" placeholder="Email">
  </div>
  <div class="form-group">
    <input type="submit" value="Enviar" class="btn-sm btn btn-info">
  </div>
</form>