{% extends 'base/main.html' %}
{% block contenido %}
<h1 class='titulo-contactos'>Hola socio como estas</h1>
<div class='contenido-contactos'>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus voluptatem odit repudiandae commodi quod ut
    assumenda culpa impedit eum quis earum deserunt illum dolores fugiat delectus neque cumque, ipsa aliquid, nisi
    dolorum eaque tempora, dignissimos. Porro, incidunt asperiores similique omnis repellat corporis magni neque ut
    nesciunt non nemo, quae vitae eos magnam suscipit harum dolorem doloremque laboriosam. Alias mollitia repellendus
    cum sit, labore ea voluptas nisi libero quo adipisci voluptates enim atque veniam possimus velit ad inventore itaque
    nesciunt unde quibusdam deleniti in? Quasi, ea obcaecati a ut, voluptatum pariatur dolorum eveniet eligendi minima
    saepe, sequi quos dicta. Ab distinctio consectetur natus, quae sequi unde dignissimos ducimus itaque, laborum
    obcaecati cumque reprehenderit temporibus ipsum facere dolore rerum accusantium! Corrupti unde culpa aspernatur
    illum accusantium.</p>
</div>
{% endblock contenido%}