{% load inlinecss %}
{% inlinecss "css/correo.css" %}
<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>Cooperativa W - Socio</title>
	</head>
	<body>
		<div class="container-fluid">
			<h3 class="text-info">Hola Socio - {{mail}}, le hacemos aviso.</h3>
			<p>Fue aprobado su solicitud</p>
		</div>
	</body>
</html>
{% endinlinecss %}