{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
  {% include "./_head.html" %}
</head>
<body>
<!--ENCABEZADO DE LA PAGINA WEB img-thumbnail img-fluid justify-content-around -->
{% include "./_nabvar.html" %}
<div class="modal fade" id="modal-search">
  <div class="modal-dialog">
    <div class="modal-content">
      <!--CABECERA-->
      <div class="modal-header" style="font-size: 5px;">
        <h4 class="modal-title text-info">Acerca de</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <!--CUERPO-->
      <div class="modal-body">
        Somo una organización con el unico porposito de mejorar el presupuesto del ciudadano.
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="modal-email">
  <div class="modal-dialog">
    <div class="modal-content">
      <!--CABECERA-->
      <div class="modal-header" style="font-size: 5px;">
        <h4 class="modal-title text-info">Enviar Correo</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <!--CUERPO-->
      <div class="modal-body">
        {% include "./_send_email.html" %}
      </div>
    </div>
  </div>
</div>
<!-- Contenido -->
<main role="main" class="container">
  {% if messages %}
  {% for message in messages %}
  <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
    {{ message }}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  {% endfor %}
  {% endif %}
  {% block contenido %}
  <header>
    <div class="d-flex flex-column justify-content-center align-items-center border-bottom imagen-aheader"
         style="background-image: url({% static 'img/bgfondo.jpg' %});">
      <h1 class="d-flex titulo_img ">
        COOPERATIVA DE AHORRO Y CRÉDITO WIÑARISUN
      </h1>
      <P class="d-flex color_parrafo">
        Al servicio de la comunidad huamanguina
      </P>
      <a class="button type3 font-weight-bold" href="{% url 'about' %}" type="submit"><u>Conoce más de nosotros</u></a>
    </div>
  </header>
  <section class="content-section">
    <div id="demo" class="carousel slide carousel-fade " data-ride="carousel">
      <ul class="carousel-indicators">
        <li data-target="demo" data-slide-to="0" class="active"></li>
        <li data-target="demo" data-slide-to="1"></li>
      </ul>
      <div class="carousel-inner  container-fluid border-danger">
        <div class="carousel-item active">
          <img class="img-fluid" src="{% static 'img/ayacucho.jpg' %}">
          <div class="carousel-caption" style="color: #0f529e;">
            <h2 class="font-weight-bold">Cooperativa de Ahorro y Crédito Wiñarisun</h2>
            <h5 class="font-weight-bolder text-black-50">Ya contamos con más de 2 sucursales den la ciudad
              de
              Humanaga, lo hacemos por progreso de ustedes</h5>
          </div>
        </div>
        <div class="carousel-item container-fluid img-fluid">
          <img class="img-fluid" src="{% static 'img/plazamayor.jpg' %}">
          <div class="carousel-caption">
            <h2>Ven acercate para poder pertener a la gran familia de Wiñarisun</h2>
            <p>Solo una organización con más de cinco años en la población ayacuchana y somos una
              organización
              de garantina y aseguramos tu progreso</p>
          </div>
        </div>
        <a href="#demo" class="carousel-control-prev" data-slide="prev"><span class="carousel-control-prev-icon"></span></a>
        <a href="#demo" class="carousel-control-next" data-slide="next"><span class="carousel-control-next-icon"></span></a>
      </div>
    </div>
  </section>
  <br>
  {% endblock %}
</main>
<footer>
  <div class="copyright_row">
    <div class="container">
      <div class="row-footer">
        <div>
          <a href="https://www.facebook.com/" type="submit"><img class="btn-outline-primary"
                                                                 src="{% static 'img/fb.jpg' %}"
                                                                 alt="coopwiñarisun"></a>
        </div>
        <small>Copyright © 2019 Cooperativa Wiñarisun Derechos Reservados <a href="{% url 'inicio' %}"
                                                                             title='https://wiñarisun.aya.pe'>coopwiñarisun</a></small>
      </div>
    </div>
  </div>
</footer>
</body>
</html>