.card1 {
    border: 0 !important;
    background-size: cover;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.6);
    background-color: rgba(152, 147, 147, 0.32);
    background-blend-mode: darken;
    transition: all .2s;

}
.card1:hover {
  background: none;
}

.focus-prestamo {
  transition: .3s all ease;
}

.focus-prestamo:hover {
  margin-left: 5px;
  background-color: rgba(123,200,131,.4);
}

.focus-prestamo-wait {
  transition: .3s all ease;
}

.focus-prestamo-wait:hover {
  margin-left: 5px;
  background-color: rgba(170,160,131,.4);
}

.imagen-aheader{
    position: relative;
    background-size: cover;
    height: 700px;
    background-color: rgb(0,0,0,0.456);
    background-blend-mode: darken;
}

.container-cards {
  margin-right: 0;
  margin-left:0;
  width: 100%;
}

@media (min-width: 576px) {
  .container-cards {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container-cards {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container-cards {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container-cards {
    max-width: 1100px;
  }
}


.money {
  font-size: 13px;
  color: black;
}
.money::before {
  content: 'S/'
}


.info-data-partner li {
  list-style: none;
  margin: 5px 0;
}

.bg-transparent {
  background: #fff;
}