.button {
	position: relative;
	padding: 0.6em 1em;
	border: none;
	background-color: transparent;
	cursor: pointer;
	outline:black;
	font-size: 14px;
	margin: 0em 0em;
}

.boton3 {
	color: #175066 !important;
	font-size: 15px;
	font-weight: 500;
	padding: 0.5em 1.2em;
	background: rgba(0,0,0,0);
	border: 2px solid;
	border-color:#ffffff;
	transition: all 1s ease;
	position: relative;
}
.boton3:hover {
	background: #318aac;
	color: #fff !important;
}

.button.type1 {
	color: #0b438d;
}
.button.type1.type1::after, .button.type1.type1::before {
	content: "";
	display: block;
	position: absolute;
	width: 0;
	height: 0;
	border: 0.1px solid;
	transition: all 0.6s ease;
	border-radius: 1px;
}
.button.type1.type1::after {
	bottom: 0px;
	right: 0px;
	border-top-color: transparent;
	border-left-color: transparent;
	border-bottom-color: #566473;
	border-right-color: #566473;
}
.button.type1.type1::before {
	top: 0;
	left: 0;
	border-bottom-color: transparent;
	border-right-color: transparent;
	border-top-color: #566473;
	border-left-color: #566473;
}
.button.type1.type1:hover:after, .button.type1.type1:hover:before {
	width: 100%;
	height: 100%;
}

.button.type2 {
	color: #0b438d;
	text-align: center;
}
.button.type2.type2:after, .button.type2.type2:before {
	content: "";
	display: block;
	position: absolute;
	top: 100%;
	left: 0px;
	right: 0px;
	height: 1px;
	background-color: goldenrod;
	transition: all 0.3s ease;
	-webkit-transform: scale(0.0); transform: scale(0.00);
}
.button.type2.type2:hover:before {
	top: 0;
	-webkit-transform: scale(0.8);
					transform: scale(0.8);
}
.button.type2.type2:hover:after {
	-webkit-transform: scale(0.8);
					transform: scale(0.8);
}

.button.type3 {
	color: #ffffff;
	text-align: center;
	font: bolder;
}
.button.type3.type3::after, .button.type3.type3::before {
	content: "";
	text-align: center;
	display: block;
	position: absolute;
	width: 0%;
	height: 0%;
	border: 1px solid;
	transition: all 0.6s ease;
	border-radius: 3px;
}
.button.type3.type3::after {
	bottom: 0;
	right: 0;
	text-align: center;
	border-top-color: transparent;
	border-left-color: transparent;
	border-bottom-color: #ffffff;
	border-right-color: #ffffff;
}
.button.type3.type3::before {
	top: 0;
	left: 0;
	text-align: center;
	border-bottom-color: transparent;
	border-right-color: transparent;
	border-top-color: #ffffff;
	border-left-color: #ffffff;
}
.button.type3.type3:hover:after, .button.type3.type3:hover:before {
	border-bottom-color: #ffffff;
	border-right-color: #ffffff;
	border-top-color: #ffffff;
	border-left-color: #ffffff;
	width: 100%;
	height: 100%;
}
.button.type4 {
	color: goldenrod;
}
.button.type4::after {
	content: "";
	display: block;
	position: absolute;
	height: 1px;
	width: 0;
	left: 2px;
	right: 2px;
	background-color:red;
	transition: width 0.3s ease-in-out;
}
.button.type4::after {
	bottom: 3px;
}
.button.type4:hover::after {
	width: 110px;
}

.button-block {
	display: block;
}