<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'socio:crearsocio' %}">Registrar Socio</a></li>
    <li class="breadcrumb-item"><a href="{% url 'prestamos:listaprestamo' %}">Solicitudes de prestamos</a></li>
    <li class="breadcrumb-item"><a href="{% url 'socio:listasocio' %}">Socios registrados</a></li>
  </ol>
</nav>

<!-- "active" aria-current="page" -->