<form action="{% url 'socio:search-partners' %}" method="get" class="my-4">
	<h6 class="text-secondary">Buscar de acuerdo al DNI del Socio registrado</h6>
	<div class="form-row">
		<div class="col-sm-5">
			<input type="text" class="form-control" name="query" required>
		</div>
		<div class="col-sm-5">
			<input type="submit" value="Buscar" class="btn-sm btn btn-primary">
		</div>
	</div>
</form>