{% extends 'base/main.html' %}

{% block titulo %}Registro de Nuevo Socio{% endblock titulo %}
{% block contenido %}
<div class="container mt-4 pt-2">
	<form method="POST" class="container" action="{% url 'socio:crearsocio' %}">
		{% csrf_token %}
		<div class="container-lg px-lg-5">
			<h2 class="text-info">Registro de Nuevo Socio</h2>
			{% include "apps/partials/_links.html" %}
				<div class="row justify-content-md-start">
					<div class="col-md-4">
						<div class="form-group">
							<label class="text-secondary" for="{{ form.nombre.name }}"> {{form.nombre.label}} </label>
							{% if form.nombre.errors %}
								{{ form.nombre }}
								{% for error in form.nombre.errors %}
									<div class="invalid-feedback">
										{{ error | escape }}
									</div>
								{% endfor %}
							{% else %}
							{{ form.nombre}}
							{% endif %}
						</div>
					</div>
					<div class="col-md-4">
						<div class="form-group">
							<label class="text-secondary" for="{{ form.apellido_paterno.name }}"> {{form.apellido_paterno.label}} </label>
							{{ form.apellido_paterno}}
						</div>
					</div>
					<div class="col-md-4">
						<div class="form-group">
							<label class="text-secondary" for="{{ form.apellido_materno.name }}"> {{form.apellido_materno.label}} </label>
							{{ form.apellido_materno}}
						</div>
					</div>
				</div>
				<div class="row justify-content-md-start">
					<div class="col-md-4">
						<div class="form-group">
							<label class="text-secondary" for="{{ form.dni.name }}"> {{form.dni.label}} </label>
							{% if form.dni.errors %}
								<input type="text" class="form-control is-invalid" required="" maxlength="8" name="dni">
								{% for error in form.dni.errors %}
									<div class="invalid-feedback">
										{{ error | escape}}
									</div>
								{% endfor %}
							{% else %}
								{{ form.dni }}
							{% endif %}

							<small class="small" style="color:rgba(145, 145, 71, 0.812)">Esto servira como el login del Socio</small>
						</div>
					</div>
					<div class="col-md-4">
						<div class="form-group">
							<label class="text-secondary" for="{{ form.genero.name }}"> {{form.genero.label}} </label>
							{{ form.genero }}
						</div>
					</div>
					<div class="col-md-4">
						<div class="form-group">
							<label class="text-secondary" for="{{ form.fecha_nacimiento.name }}"> {{form.fecha_nacimiento.label}}</label>
							{{ form.fecha_nacimiento}}
						</div>
					</div>
				</div>
			<div class="row justify-content-md-start">
				<div class="col-md-4">
					<div class="form-group">
						<label class="text-secondary" for="{{ form.email.name }}">{{form.email.label}}</label>
						{% if form.email.errors %}
							<input type="email" name="email" class="form-control is-invalid" placeholder="Ejemplo socio@mail.com" required>
							{% for error in form.email.errors %}
								<div class="invalid-feedback">
									{{ error | escape }}
								</div>
							{% endfor %}
						{% else %}
							{{ form.email }}
						{% endif %}
					</div>
				</div>
				<div class="col-md-4">
					<div class="form-group">
							<label class="text-secondary" for="{{ form.telefono.name }}"> {{form.telefono.label}} </label>
							{{ form.telefono }}
					</div>
				</div>
			</div>
			<div class="row justify-content-md-start">
				<div class="col-md-4">
					<div class="form-group my-3">
						<input type="submit" class="btn btn-primary" value="Guardar el registro">
						<a href="{% url 'socio:listasocio' %}" class="btn btn-secondary">Salir de Registro</a>
					</div>
				</div>
			</div>
		</div>
	</form>
</div>
{% endblock contenido %}