{% extends 'base/main.html' %}

{% block titulo %}Editar perfil del Socio {% endblock titulo %}

{% block contenido %}

<div class="container">
  <form method="post">
    {% csrf_token %}
    <h3 class="text-secondary">Editar datos del Socio <strong>{{socio.nombre}} {{socio.apellido_paterno}} {{socio.apellido_materno}}</strong> </h3>
    <div class="border-2">
      <div class="row justify-content-md-start">
        <div class="col-md-4">
          <label for="{{ form.nombre.name }}"> {{form.nombre.label}} </label>
          {{ form.nombre }}
        </div>
        <div class="col-md-4">
          <label for="{{ form.apellido_paterno.name }}"> {{form.apellido_paterno.label}} </label>
          {{ form.apellido_paterno }}
        </div>
        <div class="col-md-4">
          <label for="{{ form.apellido_materno.name }}"> {{form.apellido_materno.label}} </label>
          {{ form.apellido_materno }}
        </div>
      </div>
        <br>
        <div class="row justify-content-md-start">
          <div class="col-md-4">
            <label for="{{ form.dni.name }}"> {{form.dni.label}} </label>
            {{ form.dni }}
          </div>
          <div class="col-md-4">
            <label for="{{ form.genero.name }}"> {{form.genero.label}} </label>
            {{ form.genero }}
          </div>
          <div class="col-md-4">
            <label for="{{ form.fecha_nacimiento.name }}"> {{form.fecha_nacimiento.label}} </label>
            {{ form.fecha_nacimiento }}
          </div>
        </div>
        <br>
      <div class="row justify-content-md-start">
        <div class="col-md-4">
          <label for="{{ form.telefono.name }}"> {{form.telefono.label}} </label>
          {{ form.telefono }}
        </div>
        <div class="col-md-4">
          <label for="{{ form.email.name }}"> {{form.email.label}} </label>
          {{ form.email }}
        </div>
        <div class="col-md-4">
          <label for="{{ form.fb.name }}"> {{form.fb.label}} </label>
          {{ form.fb }}
        </div>
      </div>
    </div>
    <br>
    <div class="col col-sm-4 col-md-8 col-lg-10 col-xl-12">
      <div class="row justify-content-between">
        <div class="form-group">
          <div class="justify-content-end">
            <button class="btn btn-outline-primary" type="submit">Guardar cambios</button>
          </div>
        </div>
        <div class="form-group">
          <div class="justify-content-start">
           <a href="{% url 'listasocio'%}" class="btn btn-outline-secondary" type="submit">Regresar</a>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>

{% endblock contenido %}