{% extends 'base/main.html' %}
{% block titulo %}Eliminar socio{% endblock titulo %}
{% block menu %} {% endblock menu %}

{% block contenido %}

<div style="margin: 2em 3.7em 0em; padding: 2rem;">
    <h4>Esta seguro de eliminar al socio <strong style="color: saddlebrown;">
            {{ object.nombre }} {{ object.apellido_paterno }} {{ object.apellido_materno }}</strong></h4>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsa soluta quam sapiente maxime sed repudiandae voluptatem suscipit, voluptatum amet sint mollitia libero quia vitae pariatur inventore corporis earum, tempore omnis?</p>
</div>

<form method="POST">

    {% csrf_token %}
    {{ form.as_p }}

    <div style="margin-left: 7em;">
        <button type="button" style="margin: 1em 2em ; box-sizing: content-box;" class="btn btn-danger col-sm-1"
            data-toggle="modal" data-target="#eliminar">Si, Eliminar</button>

        <a class="btn btn-primary" style="margin: 1em 2em ; box-sizing: content-box;"
            href="{% url 'listasocio' %}">Cancelar la eliminación</a>
    </div>
    <div class="modal fade" id="eliminar">
        <div class="modal-dialog">
            <div class="modal-content">
                <!--CABECERA-->
                <div class="modal-header">
                    <h5 class="modal-title danger" style="color: darkorange;">Confirmación</h5>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    Se eliminara al socio <strong>{{ object.nombre }} {{ object.apellido_paterno }}
                        {{ object.apellido_materno }}</strong>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-outline-danger">Confirmar la eliminación</button>
                </div>
            </div>
        </div>
    </div>
</form>


{% endblock contenido %}