{% extends 'base/main.html' %}
{% block titulo %}Lista de Socios{% endblock titulo %}
{% block contenido %}
<div class="container-xl  my-4">
	<div class="text-center">
		<h2 class="text-secondary">Formulario de Socios Registrados</h2>
	</div>
	<div class="col col-sm-12 col-xl-12">
		{% include "apps/partials/_links.html" %}
		{% include "./_search_form.html" %}
		<table class="table table-bordered table-hover bg-light">
			<thead class="thead-dark">
				<th style="color: #c5c19bfd;">Nombres</th>
				<th style="color: #c5c19bfd;">Apellido Paterno</th>
				<th style="color: #c5c19bfd;">Apellido Materno</th>
				<th style="color: #c5c19bfd;">DNI</th>
				<th style="color: #c5c19bfd;">Fecha de Nacimiento</th>
				<th style="color: #c5c19bfd;">Teléfono</th>
				<th style="color: #c5c19bfd;">Fecha de Registro</th>
				<th class="text-secondary"></th>
			</thead>

			<div class="overflow-auto">
				{% if socios %}
				{% for socio in socios %}
				<tbody>
					<td>{{ socio.nombre }}</td>
					<td>{{ socio.apellido_paterno }}</td>
					<td>{{ socio.apellido_materno }}</td>
					<td class="text-info">{{ socio.dni }}</td>
					<td>{{ socio.fecha_nacimiento }}</td>
					<td>{% if socio.telefono %}{{ socio.telefono }}{% else %} - {% endif %}</td>
					<td>{{ socio.fecha_registro }}</td>
					<td>
						<a class="btn btn-outline-secondary" href="{% url 'socio:detallesocio' socio.id %}">Ver Detalles</a>
					</td>
				</tbody>
			</div>
			{% endfor %}
			{% endif %}
		</table>

		<div class="form-group">
			<a class="btn btn-success" href="{% url 'socio:crearsocio' %}">Registrar nuevo Socio</a>
			<a class="btn btn-warning" href="{% url 'usuario:perfilusuario' request.user.id %}">Regresar</a>
		</div>
	</div>
</div>
{% endblock contenido %}