{% extends 'base/main.html' %}

{% block titulo %} Socio - {{ socio.nombre }} {% endblock titulo %}

{% block contenido %}
<div class="container my-4">
	<div class="row">
		<div class="col-md-7">
			<div class="card">
				<div class="card-body">
					<div class="card-title">
						<h5><b class="text-info">Nombre del Socio:</b> {{ socio.nombre }}</h5>
					</div>
					<div class="card-text">
						<h6><b class="text-info">Apellido Paterno:</b> {{ socio.apellido_paterno }}</h6>
						<h6><b class="text-info">Apellido Materno:</b> {{ socio.apellido_materno }}</h6>

					</div>
				</div>
			</div>

		</div>
		<div class="col-md-5">
			{% if prestamos_aprobados %}
				<h4 class="text-primary">Préstamos Solicitados Aprobados</h4>
				{% for prestamo in prestamos_aprobados %}
					<div class="card-body shadow focus-prestamo">
						<div class="card-title">
							<b>Monto solicitado:</b> <span class="money">{{ prestamo.monto_consulta }}</span>
						</div>
						<div class="card-text">
							{{ prestamo.razon_prestamo | safe }}
						</div>
						<div>
							<b>Solicitud:</b> {% if prestamo.approved %}<span class="text-success">Aprobado</span>
							{% else %}<span class="text-warning">Aun por Aprobar</span>{% endif %}
						</div>
						<div class="text-muted small">
							<b>Fecha de emisión:</b> {{ prestamo.fecha_solicitud_prestamo }}
						</div>
					</div>
				{% endfor %}
			{% endif %}
			{% if prestamos_en_espera %}
				<h4 class="text-secondary">Préstamos Solicitados En Aprobación</h4>
				{% for prestamo in prestamos_en_espera %}
					<div class="card-body shadow focus-prestamo-wait">
						<div class="card-title">
							<b>Monto solicitado:</b> <span class="money">{{ prestamo.monto_consulta }}</span>
						</div>
						<div class="card-text">
							{{ prestamo.razon_prestamo | safe }}
						</div>
						<div>
							<b>Solicitud:</b> {% if prestamo.approved %}<span class="text-success">Aprobado</span>
							{% else %}<span class="text-warning">Aun por Aprobar</span>{% endif %}
						</div>
						<div class="text-muted small">
							<b>Fecha de emisión:</b> {{ prestamo.fecha_solicitud_prestamo }}
						</div>
					</div>
				{% endfor %}
			{% endif %}
		</div>
	</div>
</div>
{% endblock contenido %}