<!-- Modal -->
<div class="modal fade" id="cancelLoanModalStatis" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="cancelLoanModalStatisLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="cancelLoanModalStatisLabel">Cancelar mi Solicitud</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
				<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				¿Esta seguro de poder cancelar su Solicitud?
				<p class="text-info">Monto Solicitado: <span class="money">{{ prestamo.monto_consulta }}</span></p>
				<div class="mt-3">
					<form action="{% url 'prestamos:cancel_request_loan' prestamo.id %}" method="post">
						{% csrf_token %}
						<input type="submit" value="Si, Estoy seguro" class="btn btn-warning">
					</form>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">No, aun quiero mantener mi solicitud</button>
			</div>
		</div>
	</div>
</div>