{% extends 'base/main.html' %}
{% block titulo %}Solicitar Préstamo{% endblock titulo %}
{% block contenido %}
{% if warning %}
	<div class="col-lg-5">
		<h2>{{ warning }}</h2>
	</div>
{% else %}
	<form method="POST">
		{% csrf_token %}
		<h3>Solicitar préstamo</h3>
		<h5 class="text-info">Por favor llene el formulario, para poder solicitar un préstamo.</h5>
		<div class="row">
			<div class="col-md-4">
				<div class="form-group">
					<label for="prestamisa">Socio</label>
					<h5 class="text-info"><b>{{ user.socio.nombre }} {{ user.socio.apellido_paterno }}{{ user.socio.apellido_materno }}</b></h5>
				</div>
			</div>
			<div class="col-md-4">
				<div class="form-group">
					<label for="{{ form.ocupacion_socio.name }}"> {{form.ocupacion_socio.label}} </label>
					{% if form.ocupacion_socio.errors %}
						<div class="form-group">
							<input name="ocupacion_socio" type="text" class="form-control is-invalid">
						</div>
						{% for error in form.ocupacion_socio.errors %}
							<div class="invalid-feedback">
								{{ error }}
							</div>
						{% endfor %}
					{% else %}
						<div class="form-group">
							{{ form.ocupacion_socio }}
						</div>
					{% endif %}
				</div>
			</div>
			<div class="col-md-4">
				<div class="form-group">
					<label for="{{ form.monto_consulta.name }}"> {{form.monto_consulta.label}} </label>
					{% if form.monto_consulta.errors %}
						<div class="form-group">
							{{form.monto_consulta}}
						</div>
						{% for error in form.monto_consulta.errors %}
							<div class="invalid-feedback">
								{{ error }}
							</div>
						{% endfor %}
					{% else %}
						<div class="form-group">
							<div class="input-group">
								<div class="input-group-prepend">
									<span class="input-group-text">S/</span>
									{{form.monto_consulta}}
								</div>
							</div>
						</div>
					{% endif %}
					<p class="small text-muted"><span class="text-warning">Nota: </span><br>Por favor el monto a solicitar de ser menor a <strong>9999.99</strong></p>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6">
				<div class="form-group">
					<label for="{{ form.razon_prestamo.name }}"> {{form.razon_prestamo.label}} </label>
					{{ form.razon_prestamo}}
					<p class="text-secondary">{{ form.razon_prestamo.help_text }}</p>
				</div>
				<div class="form-group">
					<button type="submit" class="btn btn-primary" onclick="aviso()">Solicitar Prestamo</button>
				</div>
				<div class="form-group">
					<div class="col-auto"><a href="{% url 'usuario:perfilusuario' user.id %}" class="btn btn-dark">Atrás</a></div>
				</div>
			</div>
			<div class="col-md-6">
			</div>
		</div>
	</form>
{% endif %}
{% endblock contenido %}