{% extends 'base/main.html' %}
{% block titulo %} Formulario de prestamos {% endblock titulo %}
{% block contenido %}
<div class="container">
	<div class="row">
		<div class="text-center">
			<h2>Formulario de Solicitudes de Prestamos</h2>
		</div>
		<div class="col col-sm-12 col-xl-12">
			{% include "apps/partials/_links.html" %}
			{% include "./_search_form.html" %}
			<table class="table table-hover">
				<thead class="thead-dark">
					<th style="color: #c5c19bfd;">Socio</th>
					<th style="color: #c5c19bfd;">DNI del Solicitante(Socio)</th>
					<th style="color: #c5c19bfd;">Ocupación/Profesión</th>
					<th style="color: #c5c19bfd;">Monto solicitado</th>
					<th style="color: #c5c19bfd;">Razón Solicitud de prestamo</th>
					<th style="color: #c5c19bfd;">Fecha de Solicitud</th>
					<th style="color: #c5c19bfd;">Préstamo Aprobado</th>
				</thead>
				<div class="overflow-auto">
					{% if prestamos %}
					{% for prestamo in prestamos %}
					<tr>
						<td><a href="{% url 'socio:detallesocio' prestamo.socio.id %}">{{ prestamo.socio.nombre }}
								{{ prestamo.socio.apellido_paterno }} {{ prestamo.socio.apellido_materno }}</a></td>
						<td>{{ prestamo.socio.dni }}</td>
						<td>{{ prestamo.ocupacion_socio }}</td>
						<td><span class="money">{{ prestamo.monto_consulta }}</span></td>
						<td>{{ prestamo.razon_prestamo | safe | truncatechars:20c}}</td>
						<td>{{ prestamo.fecha_solicitud_prestamo }}</td>
						{% if prestamo.approved %}<td class="text-success">Aprobado</td>{% else %}<td class="text-danger">Solicitud
							entregada</td>{% endif %}
						{% if not prestamo.approved %}
						<td colspan="2">
							<form action="{% url 'prestamos:approved-prestamo' prestamo.id %}" method="post">{% csrf_token %}<input
									class="btn btn-success btn-block" type="submit" value="Aprobar al solicitud"></form>
						</td>
						{% endif %}
					</tr>
					{% endfor %}
				</div>
				{% else %}
				<h5>No se encontro ninguna Solicitud de Préstamo</h5>
				{% endif %}
			</table>
		</div>
	</div>
	<div class="pagination">
		<span class="step-links">
			{% if page_obj.has_previous %}
			<a href="?page=1">&laquo; first</a>
			<a href="?page={{ page_obj.previous_page_number }}">previous</a>
			{% endif %}
			<span class="current">
				Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
			</span>
			{% if page_obj.has_next %}
			<a href="?page={{ page_obj.next_page_number }}">next</a>
			<a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
			{% endif %}
		</span>
	</div>
</div>
{% endblock contenido %}