{% extends 'base/main.html' %}
{% block titulo %}Prestamo con Garante{% endblock titulo %}
{% block menu %}{% endblock menu %}
{% block contenido %}
<form method="POST">
	{% csrf_token %}
	{{ form.as_p }}
	<button class="form-control" type="submit">Solicitar prestamo</button>
</form>
{% endblock contenido %}