{% if prestamos_aprobados %}
<h5 class="text-primary">Préstamos Aprobados</h5>
{% for prestamo in prestamos_aprobados %}
<div class="card-body focus-prestamo border my-2">
	<div class="card-title">
		<b>Monto solicitado:</b> <span class="money">{{ prestamo.monto_consulta }}</span>
	</div>
	<div>
		<b>Solicitud: </b><span class="text-success">Aprobado</span>
	</div>
	<div class="text-muted small">
		<b style="text-decoration: underline;">Fecha de aprobación:</b> {{ prestamo.fecha_aprobacion_prestamo }}<br>
		<b>Fecha de emisión:</b> {{ prestamo.fecha_solicitud_prestamo }}
	</div>
</div>
{% endfor %}
{% endif %}
{% if prestamos_en_espera %}
<hr>
<h5 class="text-secondary">Prestamos aun en Aprobación</h5>
{% for prestamo in prestamos_en_espera %}
<div class="card-body focus-prestamo-wait border my-2">
	<div class="card-title">
		<div class="row">
			<div class="col-8">
				<b>Monto solicitado: </b><span class="money">{{ prestamo.monto_consulta }}</span>
			</div>
			<div class="col-4">
				<button class="btn btn-outline-danger border-0" data-toggle="modal" data-target="#cancelLoanModalStatis">
					Cancelar Solicitud
				</button>
			</div>
		</div>
	</div>
	<div>
		<b>Solicitud: </b><span class="text-warning">Aun por Aprobar</span>
	</div>
	<div class="text-muted small">
		<b>Fecha de emisión:</b> {{ prestamo.fecha_solicitud_prestamo }}
	</div>
</div>
{% include "../prestamos/_modal_prestamos.html" %}
{% endfor %}
{% endif %}