{% extends 'base/main.html' %}
{% load static %}
{% block titulo %}Mi perfil - {{ account.socio.nombre }} {% endblock titulo %}
{% block contenido %}
<div class="container my-2">
	<div class="row">
		<div class="col-md-6">
			<div class="card">
				<div class="card-header">
					<img src="{% static 'img/thumbnail.png' %}" class="img-thumbnail">
				</div>
				<div class="card-body">
					{% if user.is_staff %}
						<p>Estado: <strong style="color: green;">Activo</strong></p>
						<p>Usuario: <strong style="color: red;">Administrador</strong></p>
						<div class="form-group">
							<a class="btn btn-outline-primary" href="{% url 'socio:crearsocio' %}">Crear Nuevos Socios</a>
							<a class="btn btn-outline-secondary" href="{% url 'socio:listasocio' %}">Formulario de Lista de Socios</a>
							<a class="btn btn-outline-primary" href="{% url 'prestamos:listaprestamo' %}">Ver Solicitudes de Préstamos</a>
						</div>
					{% else %}
						<div class="card">
							<div class="row">
								<div class="col-6">
									<h5 class="text-info"><strong>Socio de Wiñarisun</strong></h5>
									<p>Estado: <strong style="color: green;">Activo</strong></p>
									<h5 class="card-text"><strong>Socio:</strong></h5>
									<ul class="info-data-partner">
										<li><b>Nombre:</b> {{ account.socio.nombre }}</li>
										<li><b>Apellido Paterno:</b> {{ account.socio.apellido_paterno}}</li>
										<li><b>Apellido Materno:</b> {{ account.socio.apellido_materno}}</li>
										<li><b>DNI:</b> {{ account.socio.dni }}</li>
										<li><b>Prestamos solicitados: </b> {{ account.socio.prestamos.count }}</li>
									</ul>
								</div>
								<div class="col-6">
									<a href="{% url 'socio:account_bank' request.user.socio.id %}" class="btn btn-sm btn-outline-success btn-block">Mi Cuenta de Ahorro</a>
									<div class="border border-primary p-2 my-2">
										<b>Cuenta en Saldo: </b>S/{{ account.socio.cuenta_ahorro.monto_cuenta }}
									</div>
								</div>
							</div>
						</div>
						{% if not account.socio.is_prestamos_max %}
							<a class="btn btn-outline-primary" href="{% url 'prestamos:solicitarprestamo' user.id %}"> Solicitar Prestamo</a>
						{% else %}
							<div class="alert alert-warning alert-dissmisable fade show" role="alert">
								{{ message | safe }}
								<button type="button" class="close" data-dismiss="alert" aria-label="Close">
								<span aria-hidden="true">&times;</span>
								</button>
							</div>
						{% endif %}
					{% endif %}
				</div>
			</div>
		</div>
		<div class="col-md-6">
			{% include "./_prestamos.html" %}
		</div>
	</div>
</div>
<!-- Button trigger modal -->
{% endblock contenido %}