{% load static %}
<!DOCTYPE html>
<html lang="es">
	<head>
		<title>Inicio Sesión - Wiñarisun</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<script src="{% static 'js/jquery.js' %}" defer></script>
		<script src="{% static 'js/popper.js' %}" defer></script>
		<script src="{% static 'js/bootstrap.min.js' %}" defer></script>
		<script src="{% static 'login/js/main.js' %}" defer></script>
		<link rel="stylesheet" type="text/css" href="{% static 'login/css/util.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'login/css/main.css' %}">
		<link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" type="text/css">
	</head>
	<body>
			<form method="post">
				{% csrf_token %}
				<div class="limiter">
					<div class="container-login100 login-page">
						<div class="wrap-login100 p-l-55 p-r-55 p-t-65 p-b-50">
							{% if messages %}
								{% for message in messages %}
									<div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
										{{ message }}
										<button type="button" class="close" data-dismiss="alert" aria-label="Close">
										<span aria-hidden="true">&times;</span>
										</button>
									</div>
								{% endfor %}
							{% endif %}
							<span class="login100-form-title p-b-33">
								Inicie Sesión - Socio
							</span>
							{% if form.errors %}
								<div class="alert alert-warning alert-dismissible fade show" role="alert">
									<strong>Advertencia: </strong> {{ form.get_invalid_login_error }}
									<button type="button" class="close" data-dismiss="alert" aria-label="Close">
									<span aria-hidden="true">&times;</span>
									</button>
								</div>
							{% else %}
								<p>Ingrese</p>
							{% endif %}
							<div class="form-group">
								<label for="username" class="label-form">Usuario</label>
								<div class="wrap-input100 validate-input" data-validate="Valid email is required: ex@abc.xyz">
									{{ form.username }}
								</div>
							</div>
							<div class="form-group">
								<label for="password" class="label-form">Contraseña</label>
								{% if form.password.errors %}
									<input type="password" name="password" class="form-control is-invalid" required="" id="id_password">
									{% for error in form.password.errors %}
										<div class="invalid-feedback">
											{{ error }}
										</div>
									{% endfor %}
								{% else %}
									{{ form.password }}
								{% endif %}
							</div>
							<div class="form-group container-login100-form-btn m-t-20">
								<button class="btn btn-outline-primary btn-block" type="submit">
								Iniciar sesión
								</button>
							</div>
							<div class="text-center p-t-45 p-b-4">
								<span class="txt1">
									Ólvido su <a href="#" class="txt2 hov1">
										Usuario / Contraseña ?
									</a>
								</span>
							</div>
						</div>
					</div>
				</div>
			</form>
		</body>
	</html>